In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from env import host, username, password

# Acquire (acquire.py) - Zillow
For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.

# acquire & summarize

# 1. 
Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
- Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.
Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [2]:
def get_db_url(db_name):

    '''
    Connect to the SQL database with credentials stored in env file.
    Function parameter is the name of the database to connect to.
    Returns url.
    '''
    
    # Creates the url and the function returns this url
    url = f'mysql+pymysql://{username}:{password}@{host}/{db_name}'
    return (url)

In [18]:
def get_home_data():

    '''
    Connect to SQL Database with url function called within this function.
    Checks if database is already saved to computer in csv file.
    If no file found, saves to a csv file and assigns database to df variable.
    If file found, just assigns database to df variable.
    Returns df variable holding the  Home Value database.
    Includes all 52 Columns.
    '''
    
    # data_name allows the function to work no matter what a user might have saved their file name as
    # First, we check if the data is already stored in the computer
    # First conditional runs if the data is not already stored in the computer
    if os.path.isfile('zillow_home.csv') == False:

        # Querry selects the whole predicstion_2017 table from the database
        sql_querry = '''
                        SELECT *
                        FROM properties_2017
                        JOIN (SELECT id, logerror, pid, tdate FROM predictions_2017 AS pred_2017
                        JOIN (SELECT parcelid AS pid, Max(transactiondate) AS tdate FROM predictions_2017 GROUP BY parcelid) AS sq1
                        ON (pred_2017.parcelid = sq1.pid AND pred_2017.transactiondate = sq1.tdate)) AS sq2
                        ON (properties_2017.parcelid = sq2.pid)
                        LEFT JOIN airconditioningtype USING (airconditioningtypeid)
                        LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
                        LEFT JOIN buildingclasstype USING (buildingclasstypeid)
                        LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
                        LEFT JOIN propertylandusetype USING (propertylandusetypeid)
                        LEFT JOIN storytype USING (storytypeid)
                        LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
                        LEFT JOIN unique_properties USING (parcelid)
                        WHERE latitude IS NOT NULL AND longitude IS NOT NULL;
                    '''

        # Connecting to the data base and using the query above to select the data
        # the pandas read_sql function reads the query into a DataFrame
        df = pd.read_sql(sql_querry, get_db_url('zillow'))

        # If any duplicates found, this removes them
        # df.columns.duplicated() returns a boolean array, True for a duplicate or False if it is unique up to that point
        # Use ~ to flip the booleans and return the df as any columns that are not duplicated
        # df.loc accesses a group of rows and columns by label(s) or a boolean array
        df = df.loc[:,~df.columns.duplicated()]
        df = df.drop('pid',axis=1)

        # The pandas to_csv function writes the data frame to a csv file
        # This allows data to be stored locally for quicker exploration and manipulation
        df.to_csv('zillow_home.csv')

    # This conditional runs if the data has already been saved as a csv (if the function has already been run on your computer)
    else:
        # Reads the csv saved from above, and assigns to the df variable
        df = pd.read_csv('zillow_home.csv', index_col=0)

    return df

In [19]:
df = get_home_data()

In [20]:
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,censustractandblock,logerror,tdate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

# 2.
Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [22]:
print('Dataframe shape:',df.shape)

Dataframe shape: (77381, 68)

In [31]:
for col in df.columns:
    if col != 'parcelid' and col != 'id':
        print('Column name:',col)
        print(df[col].value_counts())
        print('\n')

Column name: typeconstructiontypeid
6.0     219
4.0       1
13.0      1
10.0      1
Name: typeconstructiontypeid, dtype: int64


Column name: storytypeid
7.0    50
Name: storytypeid, dtype: int64


Column name: propertylandusetypeid
261.0    52320
266.0    19294
246.0     2009
269.0     1944
248.0      727
247.0      535
265.0      333
263.0       74
275.0       58
260.0       37
267.0       29
31.0        15
264.0        6
Name: propertylandusetypeid, dtype: int64


Column name: heatingorsystemtypeid
2.0     33550
7.0     14065
24.0      846
6.0       776
20.0      104
13.0       59
18.0       23
1.0        13
10.0        3
11.0        1
Name: heatingorsystemtypeid, dtype: int64


Column name: buildingclasstypeid
4.0    14
3.0     1
Name: buildingclasstypeid, dtype: int64


Column name: architecturalstyletypeid
7.0     172
8.0      19
21.0      7
2.0       5
3.0       3
Name: architecturalstyletypeid, dtype: int64


Column name: airconditioningtypeid
1.0     23133
13.0     1574
5.0       167
11.0       53
9.0        26
Name: airconditioningtypeid, dtype: int64


Column name: basementsqft
700.0     2
515.0     2
900.0     2
912.0     2
640.0     2
273.0     2
100.0     2
3560.0    1
669.0     1
252.0     1
405.0     1
674.0     1
600.0     1
394.0     1
396.0     1
819.0     1
786.0     1
3112.0    1
1809.0    1
645.0     1
512.0     1
204.0     1
168.0     1
380.0     1
352.0     1
254.0     1
280.0     1
314.0     1
1252.0    1
112.0     1
126.0     1
800.0     1
1218.0    1
384.0     1
38.0      1
604.0     1
1969.0    1
300.0     1
90.0      1
588.0     1
200.0     1
1416.0    1
224.0     1
Name: basementsqft, dtype: int64


Column name: bathroomcnt
2.0     31485
3.0     17313
1.0     12902
2.5      6604
4.0      3352
1.5      1415
3.5      1034
5.0      1026
4.5       695
0.0       592
6.0       417
5.5       224
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
8.5         3
11.0        3
13.0        1
18.0        1
Name: bathroomcnt, dtype: int64


Column name: bedroomcnt
3.0     30362
2.0     19169
4.0     17513
5.0      4543
1.0      3379
6.0       998
0.0       830
8.0       252
7.0       208
9.0        70
10.0       31
12.0       14
11.0        8
13.0        2
16.0        1
14.0        1
Name: bedroomcnt, dtype: int64


Column name: buildingqualitytypeid
8.0     14645
6.0     13462
4.0      9483
7.0      5971
9.0      2299
5.0      2088
11.0      931
3.0       329
10.0      313
12.0      116
1.0        26
2.0         9
Name: buildingqualitytypeid, dtype: int64


Column name: calculatedbathnbr
2.0     31485
3.0     17313
1.0     12902
2.5      6595
4.0      3352
1.5      1408
3.5      1034
5.0      1026
4.5       695
6.0       417
5.5       223
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
8.5         3
11.0        3
13.0        1
18.0        1
Name: calculatedbathnbr, dtype: int64


Column name: decktypeid
66.0    614
Name: decktypeid, dtype: int64


Column name: finishedfloor1squarefeet
1252.0    22
1205.0    21
780.0     21
1462.0    21
1498.0    21
          ..
2358.0     1
6553.0     1
1981.0     1
2761.0     1
1855.0     1
Name: finishedfloor1squarefeet, Length: 1787, dtype: int64


Column name: calculatedfinishedsquarefeet
1200.0    181
1120.0    169
1440.0    147
1080.0    132
1260.0    120
         ...
6141.0      1
4682.0      1
5417.0      1
5906.0      1
3306.0      1
Name: calculatedfinishedsquarefeet, Length: 4972, dtype: int64


Column name: finishedsquarefeet12
1200.0    176
1120.0    165
1080.0    131
1440.0    120
1260.0    116
         ...
8609.0      1
8610.0      1
3575.0      1
6494.0      1
4839.0      1
Name: finishedsquarefeet12, Length: 4868, dtype: int64


Column name: finishedsquarefeet13
1440.0    18
1344.0     5
1488.0     3
1536.0     3
1248.0     2
1152.0     2
1392.0     2
1512.0     1
1200.0     1
1060.0     1
1056.0     1
1560.0     1
1300.0     1
Name: finishedsquarefeet13, dtype: int64


Column name: finishedsquarefeet15
1680.0    16
1536.0    12
2016.0    12
1600.0    10
1440.0     9
          ..
2360.0     1
2865.0     1
2830.0     1
4673.0     1
2295.0     1
Name: finishedsquarefeet15, Length: 1724, dtype: int64


Column name: finishedsquarefeet50
1252.0    22
1498.0    21
780.0     21
1462.0    21
1205.0    21
          ..
2290.0     1
640.0      1
695.0      1
2062.0     1
3070.0     1
Name: finishedsquarefeet50, Length: 1807, dtype: int64


Column name: finishedsquarefeet6
952.0     4
3552.0    3
3500.0    3
520.0     3
750.0     3
         ..
761.0     1
1441.0    1
2372.0    1
1443.0    1
1792.0    1
Name: finishedsquarefeet6, Length: 350, dtype: int64


Column name: fips
6037.0    50551
6059.0    20593
6111.0     6237
Name: fips, dtype: int64


Column name: fireplacecnt
1.0    7008
2.0     995
3.0     235
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64


Column name: fullbathcnt
2.0     38097
3.0     18351
1.0     14310
4.0      4048
5.0      1245
6.0       454
7.0       121
8.0       111
9.0        23
10.0        7
11.0        3
13.0        1
18.0        1
Name: fullbathcnt, dtype: int64


Column name: garagecarcnt
2.0     18608
1.0      5676
3.0       632
4.0       255
0.0       230
5.0        45
6.0        14
7.0         4
10.0        3
9.0         2
8.0         2
13.0        1
11.0        1
14.0        1
Name: garagecarcnt, dtype: int64


Column name: garagetotalsqft
0.0       7685
400.0      786
441.0      678
462.0      658
360.0      646
          ...
820.0        1
1296.0       1
785.0        1
1006.0       1
263.0        1
Name: garagetotalsqft, Length: 839, dtype: int64


Column name: hashottuborspa
1.0    1538
Name: hashottuborspa, dtype: int64


Column name: latitude
33984600.0    40
33665651.0    38
33766300.0    34
34056700.0    32
34225100.0    29
              ..
34089896.0     1
33820454.0     1
34091694.0     1
34085305.0     1
33554493.0     1
Name: latitude, Length: 64038, dtype: int64


Column name: longitude
-118438000.0    63
-118435000.0    62
-118390000.0    60
-118445000.0    60
-118377000.0    59
                ..
-117903770.0     1
-118406178.0     1
-118433924.0     1
-117953672.0     1
-117692925.0     1
Name: longitude, Length: 62461, dtype: int64


Column name: lotsizesquarefeet
6000.0     892
5000.0     437
7200.0     314
7000.0     297
6500.0     294
          ...
17018.0      1
31968.0      1
15503.0      1
2176.0       1
19716.0      1
Name: lotsizesquarefeet, Length: 18848, dtype: int64


Column name: poolcnt
1.0    16137
Name: poolcnt, dtype: int64


Column name: poolsizesum
450.0    90
400.0    38
500.0    30
600.0    27
512.0    25
         ..
290.0     1
414.0     1
498.0     1
582.0     1
554.0     1
Name: poolsizesum, Length: 262, dtype: int64


Column name: pooltypeid10
1.0    464
Name: pooltypeid10, dtype: int64


Column name: pooltypeid2
1.0    1074
Name: pooltypeid2, dtype: int64


Column name: pooltypeid7
1.0    15042
Name: pooltypeid7, dtype: int64


Column name: propertycountylandusecode
0100    26714
122     13045
010C     8813
0101     6399
34       4922
        ...
012D        1
105         1
0114        1
020E        1
0133        1
Name: propertycountylandusecode, Length: 75, dtype: int64


Column name: propertyzoningdesc
LAR1         6747
LAR3         2437
LARS         1389
LBR1N        1222
LARD1.5      1127
             ...
CLR18000*       1
CVR11L          1
LR16OOO*        1
GLM2YY          1
NORI            1
Name: propertyzoningdesc, Length: 1907, dtype: int64


Column name: rawcensustractandblock
6.059063e+07    60
6.037137e+07    60
6.037920e+07    58
6.037277e+07    51
6.059032e+07    43
                ..
6.059022e+07     1
6.059053e+07     1
6.059022e+07     1
6.037201e+07     1
6.059087e+07     1
Name: rawcensustractandblock, Length: 39194, dtype: int64


Column name: regionidcity
12447.0     17948
46298.0      2588
5534.0       1912
54311.0      1880
52650.0      1669
            ...
13311.0         5
118880.0        5
10815.0         4
21395.0         1
36078.0         1
Name: regionidcity, Length: 175, dtype: int64


Column name: regionidcounty
3101.0    50551
1286.0    20593
2061.0     6237
Name: regionidcounty, dtype: int64


Column name: regionidneighborhood
27080.0     717
48570.0     704
37739.0     684
118208.0    669
51906.0     549
           ...
764146.0      1
764145.0      1
249692.0      1
761000.0      1
764138.0      1
Name: regionidneighborhood, Length: 480, dtype: int64


Column name: regionidzip
97319.0    825
96987.0    753
97318.0    708
97118.0    613
96974.0    593
          ...
96039.0      2
97088.0      1
97092.0      1
97111.0      1
96467.0      1
Name: regionidzip, Length: 389, dtype: int64


Column name: roomcnt
0.0     59808
6.0      4513
7.0      3838
5.0      3016
8.0      2872
4.0      1415
9.0      1193
10.0      339
3.0       211
11.0      108
12.0       35
2.0        15
13.0       10
14.0        6
15.0        1
1.0         1
Name: roomcnt, dtype: int64


Column name: threequarterbathnbr
1.0    10012
2.0       75
3.0        8
7.0        1
Name: threequarterbathnbr, dtype: int64


Column name: unitcnt
1.0      47293
2.0       2018
4.0        723
3.0        525
6.0          1
45.0         1
237.0        1
42.0         1
Name: unitcnt, dtype: int64


Column name: yardbuildingsqft17
200.0    103
240.0     76
300.0     50
180.0     42
120.0     38
        ...
214.0      1
122.0      1
76.0       1
786.0      1
166.0      1
Name: yardbuildingsqft17, Length: 540, dtype: int64


Column name: yardbuildingsqft26
120.0    3
30.0     3
56.0     2
88.0     2
33.0     2
240.0    2
300.0    2
144.0    2
448.0    2
169.0    1
414.0    1
49.0     1
368.0    1
140.0    1
462.0    1
575.0    1
360.0    1
174.0    1
12.0     1
41.0     1
21.0     1
231.0    1
461.0    1
133.0    1
160.0    1
196.0    1
216.0    1
195.0    1
72.0     1
113.0    1
284.0    1
39.0     1
16.0     1
37.0     1
336.0    1
314.0    1
91.0     1
752.0    1
180.0    1
218.0    1
250.0    1
868.0    1
28.0     1
384.0    1
108.0    1
648.0    1
48.0     1
204.0    1
491.0    1
66.0     1
292.0    1
576.0    1
320.0    1
45.0     1
486.0    1
105.0    1
71.0     1
60.0     1
200.0    1
Name: yardbuildingsqft26, dtype: int64


Column name: yearbuilt
1955.0    1969
1989.0    1787
1950.0    1673
1964.0    1642
1954.0    1583
          ...
1882.0       1
1880.0       1
1878.0       1
1866.0       1
1824.0       1
Name: yearbuilt, Length: 136, dtype: int64


Column name: numberofstories
1.0    10366
2.0     6757
3.0      436
6.0        1
Name: numberofstories, dtype: int64


Column name: fireplaceflag
1.0    172
Name: fireplaceflag, dtype: int64


Column name: structuretaxvaluedollarcnt
100000.0    82
200000.0    58
203050.0    55
90000.0     52
95000.0     49
            ..
107798.0     1
252568.0     1
600234.0     1
329176.0     1
896.0        1
Name: structuretaxvaluedollarcnt, Length: 50430, dtype: int64


Column name: taxvaluedollarcnt
400000.0    56
600000.0    50
350000.0    49
450000.0    45
500000.0    43
            ..
499532.0     1
92688.0      1
151460.0     1
605838.0     1
98304.0      1
Name: taxvaluedollarcnt, Length: 50949, dtype: int64


Column name: assessmentyear
2016.0    77381
Name: assessmentyear, dtype: int64


Column name: landtaxvaluedollarcnt
21299.0     97
22755.0     68
304575.0    65
203050.0    63
30210.0     63
            ..
737433.0     1
68034.0      1
868500.0     1
434249.0     1
114688.0     1
Name: landtaxvaluedollarcnt, Length: 51600, dtype: int64


Column name: taxamount
2418.22     8
3720.52     7
2217.31     5
1725.20     5
3815.22     5
           ..
5434.38     1
3716.17     1
7358.73     1
4654.70     1
10240.00    1
Name: taxamount, Length: 73825, dtype: int64


Column name: taxdelinquencyflag
Y    2886
Name: taxdelinquencyflag, dtype: int64


Column name: taxdelinquencyyear
15.0    1552
14.0     799
13.0     183
12.0     113
11.0      98
10.0      66
9.0       47
8.0       14
7.0       10
6.0        1
3.0        1
4.0        1
99.0       1
Name: taxdelinquencyyear, dtype: int64


Column name: censustractandblock
6.037137e+13    60
6.037277e+13    51
6.059032e+13    44
6.059063e+13    41
6.037920e+13    41
                ..
6.059076e+13     1
6.037480e+13     1
6.037541e+13     1
6.037543e+13     1
6.037911e+13     1
Name: censustractandblock, Length: 39006, dtype: int64


Column name: logerror
 0.000231    7
 0.002652    7
 0.008932    5
 0.006909    5
 0.011157    5
            ..
-0.036372    1
-0.041321    1
 0.062521    1
 0.044124    1
 0.168187    1
Name: logerror, Length: 76837, dtype: int64


Column name: tdate
2017-06-30    1189
2017-04-28     911
2017-05-31     867
2017-07-28     814
2017-08-31     781
              ...
2017-04-15       1
2017-04-08       1
2017-07-08       1
2017-09-25       1
2017-05-20       1
Name: tdate, Length: 265, dtype: int64


Column name: airconditioningdesc

Central          23133
Yes               1574
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64


Column name: architecturalstyledesc
Contemporary     172
Conventional      19
Ranch/Rambler      7
Bungalow           5
Cape Cod           3
Name: architecturalstyledesc, dtype: int64


Column name: buildingclassdesc
Buildings having wood or wood and steel frames                                                                                                                                                                                             14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     1
Name: buildingclassdesc, dtype: int64


Column name: heatingorsystemdesc
Central       33550
Floor/Wall    14065
Yes             846
Forced air      776
Solar           104
None             59
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64


Column name: propertylandusedesc
Single Family Residential                     52320
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64


Column name: storydesc
Basement    50
Name: storydesc, dtype: int64


Column name: typeconstructiondesc
Frame       219
Masonry       1
Metal         1
Concrete      1
Name: typeconstructiondesc, dtype: int64

In [36]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,77381.0,1.300715e+07,3.481346e+06,1.071186e+07,1.153830e+07,1.253157e+07,1.421183e+07,1.676893e+08
typeconstructiontypeid,222.0,6.040541e+00,5.572847e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
storytypeid,50.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
propertylandusetypeid,77381.0,2.618263e+02,5.141199e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
heatingorsystemtypeid,49440.0,3.920510e+00,3.592779e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
buildingclasstypeid,15.0,3.933333e+00,2.581989e-01,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
architecturalstyletypeid,206.0,7.388350e+00,2.734542e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
airconditioningtypeid,24953.0,1.813289e+00,2.967894e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
id,77381.0,1.495139e+06,8.609071e+05,3.490000e+02,7.520700e+05,1.497932e+06,2.240535e+06,2.982274e+06
basementsqft,50.0,6.797200e+02,6.897035e+02,3.800000e+01,2.730000e+02,5.150000e+02,7.965000e+02,3.560000e+03
bathroomcnt,77381.0,2.299130e+00,9.966507e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,77381.0,3.053489e+00,1.139096e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.600000e+01
buildingqualitytypeid,49672.0,6.534587e+00,1.721953e+00,1.000000e+00,6.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,76772.0,2.316867e+00,9.797549e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,614.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,6023.0,1.366513e+03,6.713081e+02,4.400000e+01,9.550000e+02,1.257000e+03,1.615000e+03,6.912000e+03
calculatedfinishedsquarefeet,77185.0,1.785220e+03,9.540493e+02,1.280000e+02,1.182000e+03,1.543000e+03,2.113000e+03,3.564000e+04
finishedsquarefeet12,73749.0,1.760523e+03,9.340243e+02,1.280000e+02,1.172000e+03,1.523000e+03,2.076000e+03,2.192900e+04
finishedsquarefeet13,41.0,1.389854e+03,1.235317e+02,1.056000e+03,1.344000e+03,1.440000e+03,1.440000e+03,1.560000e+03
finishedsquarefeet15,3009.0,2.357792e+03,1.188775e+03,5.980000e+02,1.625000e+03,2.094000e+03,2.838000e+03,3.564000e+04
finishedsquarefeet50,6023.0,1.381772e+03,7.264689e+02,4.400000e+01,9.560000e+02,1.259000e+03,1.621500e+03,1.246700e+04
finishedsquarefeet6,386.0,2.082500e+03,1.240383e+03,3.800000e+02,9.937500e+02,1.812500e+03,3.053500e+03,5.598000e+03
fips,77381.0,6.048819e+03,2.074820e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,8276.0,1.191155e+00,4.910796e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,76772.0,2.250482e+00,9.665521e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,25474.0,1.815459e+00,5.883449e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,25474.0,3.501120e+02,2.616816e+02,0.000000e+00,0.000000e+00,4.360000e+02,4.930000e+02,4.251000e+03
hashottuborspa,1538.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,77381.0,3.400837e+07,2.653888e+05,3.333953e+07,3.381457e+07,3.402200e+07,3.417439e+07,3.481877e+07
longitude,77381.0,-1.182036e+08,3.594826e+05,-1.194754e+08,-1.184153e+08,-1.181808e+08,-1.179284e+08,-1.175546e+08
lotsizesquarefeet,69142.0,2.996928e+04,1.233711e+05,2.360000e+02,5.700000e+03,7.206000e+03,1.183100e+04,6.971010e+06
poolcnt,16137.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,867.0,5.179170e+02,1.567160e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,464.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1074.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,15042.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,77381.0,6.049129e+07,2.059052e+05,6.037101e+07,6.037311e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,75910.0,3.367124e+04,4.716982e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,77381.0,2.534158e+03,8.015934e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,30890.0,1.877349e+05,1.651188e+05,6.952000e+03,4.673600e+04,1.188490e+05,2.747650e+05,7.641670e+05
regionidzip,77331.0,9.658709e+04,3.798347e+03,9.598200e+04,9.619300e+04,9.638900e+04,9.698700e+04,3.996750e+05
roomcnt,77381.0,1.476952e+00,2.824386e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
threequarterbathnbr,10096.0,1.009608e+00,1.186301e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,50563.0,1.110021e+00,1.171154e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.370000e+02
yardbuildingsqft17,2388.0,3.054112e+02,2.383928e+02,1.100000e+01,1.700000e+02,2.510000e+02,3.640000e+02,3.191000e+03
yardbuildingsqft26,70.0,2.163857e+02,1.901775e+02,1.200000e+01,6.150000e+01,1.645000e+02,3.105000e+02,8.680000e+02
yearbuilt,77118.0,1.968636e+03,2.378603e+01,1.824000e+03,1.953000e+03,1.970000e+03,1.987000e+03,2.016000e+03
numberofstories,17560.0,1.434738e+00,5.445687e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,172.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,77269.0,1.893145e+05,2.300874e+05,4.400000e+01,8.426500e+04,1.364990e+05,2.187870e+05,1.142179e+07
taxvaluedollarcnt,77380.0,4.901345e+05,6.534440e+05,1.000000e+03,2.070000e+05,3.589755e+05,5.690015e+05,4.906124e+07
assessmentyear,77381.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,77379.0,3.010954e+05,4.925960e+05,1.610000e+02,8.550400e+04,2.033720e+05,3.667965e+05,4.895220e+07
taxamount,77376.0,5.995532e+03,7.622844e+03,1.992000e+01,2.715632e+03,4.450695e+03,6.927790e+03,5.866393e+05
taxdelinquencyyear,2886.0,1.408732e+01,2.185663e+00,3.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,77137.0,6.049673e+13,1.535242e+12,6.037101e+13,6.037311e+13,6.037603e+13,6.059042e+13,4.830301e+14
logerror,77381.0,1.662499e-02,1.701908e-01,-4.655420e+00,-2.437679e-02,6.626972e-03,3.920313e-02,5.262999e+00

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77381 non-null  int64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77381 non-null  float64
 4   heatingorsystemtypeid         49440 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      206 non-null    float64
 7   airconditioningtypeid         24953 non-null  float64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  logerror                      77381 non-null  float64
 60  tdate                         77381 non-null  object
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49440 non-null  object
 65  propertylandusedesc           77381 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB

# 3.
Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

#### What we want:   

|  column name  |  column Nan count  |  % rows with Nan  |

In [41]:
for col in df.columns:
    print('Columns name:',col)
    print('Nan count:',df[col].isnull().sum())
    print('\n')

Columns name: parcelid
Nan count: 0


Columns name: typeconstructiontypeid
Nan count: 77159


Columns name: storytypeid
Nan count: 77331


Columns name: propertylandusetypeid
Nan count: 0


Columns name: heatingorsystemtypeid
Nan count: 27941


Columns name: buildingclasstypeid
Nan count: 77366


Columns name: architecturalstyletypeid
Nan count: 77175


Columns name: airconditioningtypeid
Nan count: 52428


Columns name: id
Nan count: 0


Columns name: basementsqft
Nan count: 77331


Columns name: bathroomcnt
Nan count: 0


Columns name: bedroomcnt
Nan count: 0


Columns name: buildingqualitytypeid
Nan count: 27709


Columns name: calculatedbathnbr
Nan count: 609


Columns name: decktypeid
Nan count: 76767


Columns name: finishedfloor1squarefeet
Nan count: 71358


Columns name: calculatedfinishedsquarefeet
Nan count: 196


Columns name: finishedsquarefeet12
Nan count: 3632


Columns name: finishedsquarefeet13
Nan count: 77340


Columns name: finishedsquarefeet15
Nan count: 74372


Columns name: finishedsquarefeet50
Nan count: 71358


Columns name: finishedsquarefeet6
Nan count: 76995


Columns name: fips
Nan count: 0


Columns name: fireplacecnt
Nan count: 69105


Columns name: fullbathcnt
Nan count: 609


Columns name: garagecarcnt
Nan count: 51907


Columns name: garagetotalsqft
Nan count: 51907


Columns name: hashottuborspa
Nan count: 75843


Columns name: latitude
Nan count: 0


Columns name: longitude
Nan count: 0


Columns name: lotsizesquarefeet
Nan count: 8239


Columns name: poolcnt
Nan count: 61244


Columns name: poolsizesum
Nan count: 76514


Columns name: pooltypeid10
Nan count: 76917


Columns name: pooltypeid2
Nan count: 76307


Columns name: pooltypeid7
Nan count: 62339


Columns name: propertycountylandusecode
Nan count: 0


Columns name: propertyzoningdesc
Nan count: 27050


Columns name: rawcensustractandblock
Nan count: 0


Columns name: regionidcity
Nan count: 1471


Columns name: regionidcounty
Nan count: 0


Columns name: regionidneighborhood
Nan count: 46491


Columns name: regionidzip
Nan count: 50


Columns name: roomcnt
Nan count: 0


Columns name: threequarterbathnbr
Nan count: 67285


Columns name: unitcnt
Nan count: 26818


Columns name: yardbuildingsqft17
Nan count: 74993


Columns name: yardbuildingsqft26
Nan count: 77311


Columns name: yearbuilt
Nan count: 263


Columns name: numberofstories
Nan count: 59821


Columns name: fireplaceflag
Nan count: 77209


Columns name: structuretaxvaluedollarcnt
Nan count: 112


Columns name: taxvaluedollarcnt
Nan count: 1


Columns name: assessmentyear
Nan count: 0


Columns name: landtaxvaluedollarcnt
Nan count: 2


Columns name: taxamount
Nan count: 5


Columns name: taxdelinquencyflag
Nan count: 74495


Columns name: taxdelinquencyyear
Nan count: 74495


Columns name: censustractandblock
Nan count: 244


Columns name: logerror
Nan count: 0


Columns name: tdate
Nan count: 0


Columns name: airconditioningdesc
Nan count: 52428


Columns name: architecturalstyledesc
Nan count: 77175


Columns name: buildingclassdesc
Nan count: 77366


Columns name: heatingorsystemdesc
Nan count: 27941


Columns name: propertylandusedesc
Nan count: 0


Columns name: storydesc
Nan count: 77331


Columns name: typeconstructiondesc
Nan count: 77159

In [42]:
total = df.shape[0]
for col in df.columns:
    nulls = df[col].isnull().sum()
    print('Columns name:',col)
    print('Nan percentage:', (nulls / total) * 100)
    print('\n')

Columns name: parcelid
Nan percentage: 0.0


Columns name: typeconstructiontypeid
Nan percentage: 99.7131078688567


Columns name: storytypeid
Nan percentage: 99.93538465514791


Columns name: propertylandusetypeid
Nan percentage: 0.0


Columns name: heatingorsystemtypeid
Nan percentage: 36.108347010247996


Columns name: buildingclasstypeid
Nan percentage: 99.98061539654437


Columns name: architecturalstyletypeid
Nan percentage: 99.73378477920937


Columns name: airconditioningtypeid
Nan percentage: 67.75306599811323


Columns name: id
Nan percentage: 0.0


Columns name: basementsqft
Nan percentage: 99.93538465514791


Columns name: bathroomcnt
Nan percentage: 0.0


Columns name: bedroomcnt
Nan percentage: 0.0


Columns name: buildingqualitytypeid
Nan percentage: 35.80853181013427


Columns name: calculatedbathnbr
Nan percentage: 0.7870149002985228


Columns name: decktypeid
Nan percentage: 99.20652356521626


Columns name: finishedfloor1squarefeet
Nan percentage: 92.21643555911658


Columns name: calculatedfinishedsquarefeet
Nan percentage: 0.25329215182021425


Columns name: finishedsquarefeet12
Nan percentage: 4.693658650056216


Columns name: finishedsquarefeet13
Nan percentage: 99.94701541722128


Columns name: finishedsquarefeet15
Nan percentage: 96.11144854680089


Columns name: finishedsquarefeet50
Nan percentage: 92.21643555911658


Columns name: finishedsquarefeet6
Nan percentage: 99.50116953774182


Columns name: fips
Nan percentage: 0.0


Columns name: fireplacecnt
Nan percentage: 89.30486812008115


Columns name: fullbathcnt
Nan percentage: 0.7870149002985228


Columns name: garagecarcnt
Nan percentage: 67.07977410475439


Columns name: garagetotalsqft
Nan percentage: 67.07977410475439


Columns name: hashottuborspa
Nan percentage: 98.01243199234955


Columns name: latitude
Nan percentage: 0.0


Columns name: longitude
Nan percentage: 0.0


Columns name: lotsizesquarefeet
Nan percentage: 10.647316524728293


Columns name: poolcnt
Nan percentage: 79.1460436024347


Columns name: poolsizesum
Nan percentage: 98.87956992026467


Columns name: pooltypeid10
Nan percentage: 99.40036959977256


Columns name: pooltypeid2
Nan percentage: 98.61206239257699


Columns name: pooltypeid7
Nan percentage: 80.5611196546956


Columns name: propertycountylandusecode
Nan percentage: 0.0


Columns name: propertyzoningdesc
Nan percentage: 34.95690156498365


Columns name: rawcensustractandblock
Nan percentage: 0.0


Columns name: regionidcity
Nan percentage: 1.900983445548649


Columns name: regionidcounty
Nan percentage: 0.0


Columns name: regionidneighborhood
Nan percentage: 60.080639950375414


Columns name: regionidzip
Nan percentage: 0.06461534485209547


Columns name: roomcnt
Nan percentage: 0.0


Columns name: threequarterbathnbr
Nan percentage: 86.95286956746489


Columns name: unitcnt
Nan percentage: 34.657086364869926


Columns name: yardbuildingsqft17
Nan percentage: 96.91397112986392


Columns name: yardbuildingsqft26
Nan percentage: 99.90953851720707


Columns name: yearbuilt
Nan percentage: 0.33987671392202223


Columns name: numberofstories
Nan percentage: 77.30709088794407


Columns name: fireplaceflag
Nan percentage: 99.7777232137088


Columns name: structuretaxvaluedollarcnt
Nan percentage: 0.14473837246869387


Columns name: taxvaluedollarcnt
Nan percentage: 0.0012923068970419095


Columns name: assessmentyear
Nan percentage: 0.0


Columns name: landtaxvaluedollarcnt
Nan percentage: 0.002584613794083819


Columns name: taxamount
Nan percentage: 0.006461534485209548


Columns name: taxdelinquencyflag
Nan percentage: 96.27040229513705


Columns name: taxdelinquencyyear
Nan percentage: 96.27040229513705


Columns name: censustractandblock
Nan percentage: 0.3153228828782259


Columns name: logerror
Nan percentage: 0.0


Columns name: tdate
Nan percentage: 0.0


Columns name: airconditioningdesc
Nan percentage: 67.75306599811323


Columns name: architecturalstyledesc
Nan percentage: 99.73378477920937


Columns name: buildingclassdesc
Nan percentage: 99.98061539654437


Columns name: heatingorsystemdesc
Nan percentage: 36.108347010247996


Columns name: propertylandusedesc
Nan percentage: 0.0


Columns name: storydesc
Nan percentage: 99.93538465514791


Columns name: typeconstructiondesc
Nan percentage: 99.7131078688567

In [44]:
def null_counts(df):
    rows = df.shape()[0]
    nulls = pd.DataFrame(df.isnull().sum())
    nulls['null_percentage'] = (nulls / rows) * 100
    return nulls

In [46]:
null = null_counts(df)

TypeError: 'tuple' object is not callable

# 4. 
Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

# Prepare
# 1. 
Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

# 2. 
Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

The input:
- A dataframe
- A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
- A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).  

The output:
- The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
hint:
- Look up the dropna documentation.
- You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
- Make use of inplace, i.e. inplace=True/False.

# 3. 
Decide how to handle the remaining missing values:

- Fill with constant value.
- Impute with mean, median, mode.
- Drop row/column

# Zillow_Wrangle.py
Functions of the work above needed to acquire and prepare a new sample of data.

# Mall Customers

# 1. 
Acquire data from mall_customers.customers in mysql database.

# 2. 
Summarize data (include distributions and descriptive statistics).

# 3. 
Detect outliers using IQR.

# 4. 
Split data (train, validate, and test split).

# 5. 
Encode categorical columns using a one hot encoder.

# 6. 
Handles missing values.

# 7. 
Scaling

# wrangle_mall.py

# 1. 
Acquire data from mall_customers.customers in mysql database.

# 2. 
Split the data into train, validate, and split

# 3.
One-hot-encoding

# 4.
Missing values

# 5.
Scaling